* {

  box-sizing: border-box;
}

body

{
  background-image: url("wood.jpg");
  background-repeat:repeat;
}

.container {

  width: 90vw;
  height:100vh;
  margin: auto;
  margin-top: 30px;

}

header {

  width:100%;
  height: 300px;
  border:1px solid black;
  position:relative;
  background-color: white;

}

.imageContainer {

  width:100%;
  height:80%;
  padding:10px;

}

.imageForest {

  width:100%;
  height: 100%;
  background-image: url("forest.jpg");
}

.menuBar {

  width:100%;
  height: 20%;
  background-color: #514642;
  position: absolute;
  bottom:0;
}

ul.menu li {

  display:inline-block;
  color:white;

}

ul.menu {

  margin-left: 50%;
  transform: translate(-50%,0);
  margin-top: 20px;

}

.column1, .column2, .column3 {

  background-color: white;
  height:550px;
  float:left;
  border:1px solid black;
  margin-top: 3%;

}

.column1 {

  width:20%;
  margin-right: 5%;
}

.column2 {

  width:50%;
}

.column3 {

  width:20%;
  margin-left: 5%;

}

div.links {

  width: 80%;
  height: 80%;
  margin:auto;
}

.links {

  font-size: 18px;
}

.linkTitle {

  font-weight: bold;
  margin-top: 20px;
}

.orange {

  color:orange;
}

ul.linksList {

  list-style-type: none;
  padding-inline-start: 0;
}

ul.linksList li {

  color:green;
  margin: 20px 0;

}

ul.linksList li a

{

  color:green;
  text-decoration: none;
}

ul.linksList li a:hover {

  text-decoration:underline;
}
